<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809847024730-noj6cctkbrtkmecitcv09tca6f4pohq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809847024730-noj6cctkbrtkmecitcv09tca6f4pohq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAaa3sR1ylyA5rQmupVLcHbkDIJgOPzHBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809847024730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auribises.roofUp</string>
	<key>PROJECT_ID</key>
	<string>propertyapp-c8111</string>
	<key>STORAGE_BUCKET</key>
	<string>propertyapp-c8111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809847024730:ios:a39efb094cb8f2250efc63</string>
</dict>
</plist>